body {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
}

main {
  width: 100%;
  height: 100vh;
}

.movie-area {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 90vh 10vh;
}

.video-area {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

video {
  width: 100vw;
  height: 90vh;
}

.expand-req {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  display: none;
}

@media (max-width: 400px) {
  main {
    display: none;
  }
  .expand-req {
    display: flex;
  }
}

@media (max-height: 240px) {
  main {
    display: none;
  }
  .expand-req {
    display: flex;
  }
}